<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тучи</title>
</head>
<body>
<div class=author><span class="p"><span class=fi></span>Михаил Лермонтов</span></div>
<div class=title><h1>Тучи</h1></div>
<div id="pmt1" style="margin:0em auto;display:table"><span class="pmm">
<script>poems.push(document.getElementById("pmt1"));</script>
<span class="p"><span class=fi></span><span class="vl"><span class="i1"></span>Тучки небесные, вечные странники!<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all>
<span class="vl"><span class="i1"></span>Степью лазурною, цепью жемчужною<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all>
<span class="vl"><span class="i1"></span>Мчитесь вы, будто как я же, изгнанники<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all>
<span class="vl"><span class="i1"></span>С милого севера в сторону южную.<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all></span>
<span class="p"><span class=fi></span><span class="vl"><span class="i1"></span>Кто же вас гонит: судьбы ли решение?<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all>
<span class="vl"><span class="i1"></span>Зависть ли тайная? злоба ль открытая?<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all>
<span class="vl"><span class="i1"></span>Или на вас тяготит преступление?<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all>
<span class="vl"><span class="i1"></span>Или друзей клевета ядовитая?<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all></span>
<span class="p"><span class=fi></span><span class="vl"><span class="i1"></span>Нет, вам наскучили нивы бесплодные...<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all>
<span class="vl"><span class="i1"></span>Чужды вам страсти и чужды страдания;<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all>
<span class="vl"><span class="i1"></span>Вечно холодные, вечно свободные,<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all>
<span class="vl"><span class="i1"></span>Нет у вас родины, нет вам изгнания.<span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span><span class="i2"></span></span><br clear=all></span>
</span></div>

<div id="tbd"></div><div id="tnav"><a class="bttn" href="/text/1015/index.html">о тексте</a></div></div><div id="s" style="height:0em"></div>
<div style="margin:1em -6px;text-align:center">
<div id="yar"></div>
</div>
</body>
</html>