<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrtiy="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" href="">Главная<span class="sr-only">(current)</span></a>
           </li>
                 </ul>
                 <form method="post" action="/logout">
           {% csrf_token %}
           <input type="submit" name="LogOut" class="btn btn-primary" value="Выйти">
             </form>
           </div>
           </nav>
           <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
    {% if book_list %}
    {% for book in book_list %}
    <div class="card border-primary mb-3" style="">
        <div class="card-header">Header</div>
        <div class="card-body text-primary">
            <ul class="list-group"></ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="/book/{{book.id}}"> {{ book.name }}</a> </li>
        <li class="list-group-item">{{ book.author.name }} </li>
        <li class="list-group-item">{{ book.author.surname }} </li>
        <li class="list-group-item"><form action="{% url 'books:delete_book' book.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Удалить книгу">
        </form></li>
        <li class="list-group-item"><form action="{% url 'books:delete_author' book.author.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Удалить автора">
        </form></li>
    </ul>
</div>
</div>
    {% endfor %}
    </ul>
{% else %}
    <p class="card-text">No books are available.</p>
{% endif %}

</div>
</div>
</div>
<div class="container">
    <label>Автор:</label>
<form method="post">{% csrf_token %}
    <input type="text" name="aname" class="form-control" placeholder="Введите имя:" /><br>
    <input type="text" name="surname" class="form-control" placeholder="Введите фамилию:"/><br>
    <label>Книга:</label>
    <input type="text" name="bname" class="form-control" placeholder="Введите название:" /><br>
    <input type="text" name="text" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Введите текст:" /><br>
    <input type="submit"  class="btn btn-primary" value="Сохранить">
</form>
</div>
</body>
</html>
